<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course.linkflower.link.oneframework.dao.CarAdvantageMapper">
    <select id="getCarAdvantageById" resultType="course.linkflower.link.oneframework.vo.caradvantage.CarAdvantageVo">
        select * from car_advantage where id=#{id} limit 1
    </select>

    <insert id="add" parameterType="course.linkflower.link.oneframework.model.CarAdvantage" useGeneratedKeys="true" keyProperty="id">
        insert into car_advantage(type_key, value, attrib_key) values(#{typeKey},#{value},#{attribKey})
    </insert>

    <select id="countAttribKey" resultType="int">
        select count(*) from car_advantage where attrib_key=#{attribKey}
    </select>

    <delete id="deleteById">
        delete from car_advantage where id=#{id}
    </delete>

    <update id="updateById">
        update car_advantage
        <set>
            <if test="typeKey">type_key=#{typeKey}</if>
            <if test="value">value=#{value}</if>
            <if test="attribKey">attrib_key=#{attribKey}</if>
        </set>
        where id=#{id}
    </update>

    <select id="countAttribKeyDiffId" resultType="int">
        select count(*) from car_advantage where attrib_key=#{attribKey} and id!=#{id}
    </select>
    
    <select id="search" resultType="course.linkflower.link.oneframework.vo.caradvantage.CarAdvantageShowVo">
        select * from car_advantage order by id limit #{startCount}, #{pageSize}
    </select>

    <select id="countAll" resultType="Long">
        select count(*) from car_advantage
    </select>
</mapper>