<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="course.linkflower.link.oneframework.dao.UsedCarMapper">
    <insert id="add">
        insert into used_car(car_infor_id, account_id, post_date, building_id, license_date, contacted_name, contacted_phone, status,
        photo_count, nature_key, insurance_date, annual_inspection_date, vin, description, transfer_fee_key, anxuan_key, price, mileage)
        values(#{carInforId},#{accountId},#{postDate},#{buildingId},#{licenseDate},#{contactedName},#{contactedPhone},#{status},
        #{photoCount},#{natureKey},#{insuranceDate},#{aunnualInspectionDate},#{vin},#{description},#{transferFeeKey},#{anxuanKey},#{price},
        #{mileage})
    </insert>

    <delete id="deleteById">
        delete from used_car where id=#{id}
    </delete>

    <update id="updateById">
        update used_car set car_infor_id=#{carInforId},account_id=#{accountId},post_date=#{postDate},building_id=#{buildingId},
        license_date=#{licenseDate},contacted_name=#{contactedName},contacted_phone=#{contactedPhone},status=#{status},
        photo_count=#{photoCount}, nature_key=#{natureKey},insurance_date=#{insuranceDate},annual_inspection_date=#{aunnualInspectionDate},
        vin=#{vin},description=#{description}, transfer_fee_key=#{transferFeeKey},anxuan_key=#{anxuanKey},price=#{price},mileage=#{mileage}
    </update>

    <select id="getUsedCarById" resultType="course.linkflower.link.oneframework.vo.usedcar.UsedCarVo">
        select * from used_car where id=#{id}
    </select>

    <select id="listUsedCarByPostDate" resultType="course.linkflower.link.oneframework.vo.usedcar.UsedCarVo">
        select * from used_car where post_date=#{postDate} limit #{DefaultMaxCountLimit}
    </select>
</mapper>
